<h1>New Property </h1>
<%= simple_form_for(@property, html: { class: "form-horizontal"}) do |f| %>
	<%= f.input :address_one, label: "Street Address", required: true, :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :address_two, label: "Suite/Apt #", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :addresstype, collection: [ "House", "Apartment" ], required: true, label: "Address Type", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :city, label: "City", required: true, :input_html => {:style => 'width: 250px'} %>
	<%= f.input :state, collection: us_states, required: true, label: "State", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :zip_code, label: "Zip code", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :rent, label: "Monthly rent", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :vacancy, collection: [ "Yes", "No" ], label: "Vacancy", :input_html => {:style=> 'width: 250px'} %>
    <%= f.input :resident_id, collection: all_residents_map, :input_html => {:style=> 'width: 250px'} %>
    <% f.input :latitude, label: "latitude", :input_html => {:style=> 'width: 250px'} %>
    <% f.input :longitude, label: "longitude", :input_html => {:style=> 'width: 250px'} %>


  <div class="form-actions">
    <%= f.submit "Submit" , class: "btn btn-primary" %>
	<%= link_to "Back", "/dashboard", class: "btn btn-primary" %>
  </div>

<% end %>