<h3> Edit Bill </h3>

<%= simple_form_for(@bill, html: { class: "form-horizontal"}) do |f| %>
	<%= f.input :resident_id, collection: all_residents_map, required: true, :selected => @bill.resident_id, label: "Bill to", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :property_id, collection: all_users_properties, required: true, :selected => @bill.property_id, label: "Property Address", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :duedate, label: "Due Date", required: true, :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :amount, label: "Amount", required: true, :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :billtype, collection: [ "Rent", "Energy", "Water", "Telephone", "Other" ], required: true, label: "Type", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :description, label: "Description", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :status, collection: [ "Paid", "Unpaid" ], required: true, label: "Status", :input_html => {:style=> 'width: 250px'} %>

  <div class="form-actions">
    <%= f.submit "Submit" , class: "btn btn-primary", 'data-no-turbolink' => true %>
    <%= link_to "Back", bills_path, class: "btn btn-primary", 'data-no-turbolink' => true %>
  </div>

<% end %>