<h1> Edit Bill </h1>
<% users_properties = [] %>
<% users_properties_address = [] %>
<% @properties.each do |b| %>
	<% if b.user_id == current_user.id %>
		<% users_properties << b.id %>
		<% users_properties_address << b.address_one %>
	<% end %>
<% end %>
<%= simple_form_for(@bill, html: { class: "form-horizontal"}) do |f| %>
	<%= f.input :property_id,collection: users_properties, :selected => :property_id, label: "Property Address", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :duedate, label: "Due Date", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :amount, label: "Amount", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :billtype, collection: [ "Rent", "Energy", "Water", "Telephone", "Other" ], label: "Type", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :description, label: "Description", :input_html => {:style=> 'width: 250px'} %>
	<%= f.input :status, collection: [ "Paid", "Unpaid" ], label: "Status", :input_html => {:style=> 'width: 250px'} %>

  <div class="form-actions">
    <%= f.submit "Submit" , class: "btn btn-primary" %>
    <%= link_to "Back", "/properties", class: "btn btn-primary" %>
  </div>

<% end %>