<% user_property_addrees = "" %>
<% @properties.each do |b| %>
	<% if b.id == @bill.property_id %>
		<% user_property_addrees = b.address_one %>
	<% end %>
<% end %>
<div class="row-fluid">
    <h4>Property Address:</h4>
	<p><%= user_property_addrees %></p>
	<h4>Due Date:</h4>
	<p><%= @bill.duedate %></p>
	<h4>Bill Type:</h4>
	<p><%= @bill.billtype %></p>
	<h4>Amount:</h4>
	<p>$<%= @bill.amount %></p>
	<h4>Description:</h4>
	<p><%= @bill.description %></p>
	<h4>Status:</h4>
	<p><%= @bill.status %></p>
	<%= link_to "Back", "/properties", class: "btn btn-primary" %>
</div>