<h3> Your Residents: </h3>

<table class="row table-responsive col-md-4 col-xs-15 col-sm-12" border="0" style="width:100%" id="billstable">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>In Property</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% count = 1%>
		<% @all_resident.each do |b| %>
			<td><%= count %></td>
			<td><%= b.name %></td>
			<td><%= property_id_to_address(b.property_id) %></td>
			<td>
				<div class="btn-group btn-group-xs" role="group" aria-label="...">
					<div type="button" class="btn btn-default"><%= link_to "View", b %></div>
					<div type="button" class="btn btn-default"><%= link_to "Edit", edit_resident_path(b)%></div>
					<div type="button" class="btn btn-default"><%= link_to "Delete", resident_path(b), method: :delete, data: { confirm: "Are you sure you want to delete this resident?" }%></div>
				</div>
			</td>
			<% count+=1 %>
		</tbody>
	<% end %>
</table>

<!-- <a class="btn btn-primary" href="/properties/new">Add new property</a> -->
<div class="form-actions">
	<%= link_to "Add new residents", new_resident_path, class: "btn btn-primary" %>
</div>